@media screen and (max-width: 768px) {
    .container {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: #FFFFFF;
    }
  
    section {
      width: 90%;
    }
  
    .card-container {
      margin-top: 5%;
      height: 160px;
      border-radius: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
  
    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e5e7eb;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: #9ca3af 3px solid;
    }
  
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #475569;
    }
  
    .card-container span {
      color: #475569;
    }
  
    .area-pendentes-assinados {
      background-color: #ffffff;
      height: 49px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
      position: relative;
      border-radius: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
  
    .area-pendentes-assinados button {
      width: 305px;
      height: 39px;
      border-radius: 20px;
      border: none;
      color: #475569;
      background-color: white;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
    }
  
    .area-pendentes-assinados button:first-child:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #3B82F6;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      z-index: 0;
    }
  
    .area-pendentes-assinados button span {
      position: relative;
      z-index: 1;
    }

    .area-pendentes-assinados button.active span  {
      position: relative;
      color: white;
      z-index: 11;
    }
  
    .area-pendentes-assinados button.active {
      color: #ffffff;
      z-index: 1;
      background-color: transparent;
    }
  
    .area-pendentes-assinados button.active::after {
      transform: translateX(0);
    }

    .area-pendentes-assinados button:nth-child(2):after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #3B82F6;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 0;
    }
  
    .area-pendentes-assinados button span {
      position: relative;
      z-index: 1;
    }

    .area-pendentes-assinados button.active span  {
      position: relative;
      color: white;
      z-index: 11;
    }
  
    .area-pendentes-assinados button.active {
      color: #ffffff;
      z-index: 1;
      background-color: transparent;
    }
  
    .area-pendentes-assinados button.active::after {
      transform: translateX(0);
      
    }


    .documentos {
        margin-top: 3%;
      }
    
    .documento-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 117px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
      }
    
    .documento-info {
        display: flex;
        gap: 50px;
        justify-content: start;
        
        
      }
    
      .documentos  .assinar-btn{
        background-color: #EFF6FF;
        color: #00aeff;
        border: #DAE5FB 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 29px;
        width: 180px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;
      }

      .assinar-btn img {
        position: absolute;
        left: 8%;
      }


      .documentos  .assinado-btn{
        background-color: #F0FDF4;
        color: #15803D;
        border: #C4EBD2 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 29px;
        width: 180px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;
      }

      .assinado-btn .assinado {
        color: #15803D;
      }
    
      .assinado-btn img {
        position: absolute;
        left: 8%;
        color: #15803D !important; 
      } 

      .figureModal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        top: -50px;
        border: #3B82F6 3px solid;
        left: 40%;
        height: 100px;
        border-radius: 61px;
        background-image: linear-gradient(180deg, #2A40DE, #010365);
      }

      .btn-docs {
        background-color: #3B82F6;
        color: white;
        width: 372px;
        font-weight: bold;
        height: 40px;
        border: none;
        border-radius: 10px;
        transition: 0.3s ease-out;
        
        
    }

    .btn-docs:hover {
        background-color: #2A40DE;
    }

  }


  @media screen and (max-width: 600px) {
    .container {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: #FFFFFF;
    }
  
    section {
      width: 90%;
    }
  
    .card-container {
      margin-top: 5%;
      height: 190px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      position: relative;
    }
  
    figure {
      display: flex;
      position: absolute;
      left: 10px;
      top: 10px;
      justify-content: center;
      align-items: center;
      background-color: #e5e7eb;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border: #9ca3af 3px solid;
    }

    figure img {
      width: 50px;
      height: 50px;
    }
  
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #475569;
    }

    .card-container h1 {
      font-size: 14px;
    }
  
    .card-container span {
      color: #475569;
      font-size: 12px;
    }

    .conteudo{
      max-width: 300px;
      width: 270px;
    }

    .documentos {
      margin-top: 3%;
     

    }

    .documento-info {
      display: flex;
      gap: 10px;
      justify-content: start;
      flex-direction: column;
    }

    .documentos h1 {
      font-size: 14px;
    }
    .documentos .documento-info div span {

      font-size: 12px;
    }

    .documentos  .assinar-btn{
      background-color: #EFF6FF;
      color: #00aeff;
      border: #DAE5FB 1px solid;
      border-radius: 10px;
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 12px;
      height: 39px;
      width: 120px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease;
    }


    .documentos  .assinado-btn{
      background-color: #F0FDF4;
      color: #15803D;
      border: #C4EBD2 1px solid;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 39px;
      font-size: 12px;
      width: 120px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease;
    }

    .assinado-btn .assinado {
      color: #15803D;
    }
    
}
  